{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Welcome!!!</h1>
<h3 align="center">Description:</h3>
</br>
</br>
<div align="center">
  <h5>In Service Records, someone can browse </h5>
  <h8> e.g: Session cost = cost_rate*kWh_delivered*costPerKWh <br> where cost_rate = 1   (Session Protocol = Level 1: Low) <br> cost_rate = 2   (Session Protocol = Level 2: Medium) <br> cost_rate = 3   (Session Protocol = Level 3: High)</h8>
</div>
</br>
  <div class="form-group">
    <label for="kWh Requested">kWh Requested</label>
    <input
      type="text"
      class="form-control"
      id="kWh_Requested"
      name="kWh_Requested"
      placeholder="Enter kWh you want"
    />
  </div>
  <div class="form-group">
    <label for="protocol">Protocol</label>
    <select name="protocol" id="protocol">
      <option value="Level 1: Low">Level 1: Low</option>
      <option value="Level 2: Medium">Level 2: Medium</option>
      <option value="Level 3: High">Level 3: High</option>
    </select>
  </div>
  <div class="form-group">
    <label for="payment">Payment</label>
    <select name="payment" id="payment">
      <option value="Credit_Card">Credit_Card</option>
      <option value="Debit_Card">Debit_Card</option>
      <option value="Smartphone_Wallet">Smartphone_Wallet</option>
      <option value="Website_Payment">Website_Payment</option>
      <option value="QR_Code">QR_Code</option>
      <option value="Cash">Cash</option>
    </select>
  </div>
  <div class="form-group">
    <label for="point">Charging Point</label>
    <input
      type="text"
      class="form-control"
      id="point"
      name="point"
      placeholder="Enter Charging Point ID"
    />
  </div>
  
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Charge</button>
  </div>
</form>
{% endblock %}
